In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [5]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [8]:
df.loc[df['Chance of Admit '] < 0.8, 'Chance of Admit '] = 0
df.loc[df['Chance of Admit '] >= 0.8, 'Chance of Admit '] = 1

In [11]:
df['Chance of Admit '].unique()

array([1., 0.])

In [7]:
X = df.drop(['Chance of Admit ','Serial No.'],axis=1)
y = df['Chance of Admit ']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test =train_test_split(X,y,test_size=0.25,random_state=123)

In [9]:
# importing required libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [10]:
# Creating Decision Tree classifer object
clf = DecisionTreeClassifier()
# Training Decision Tree Classifer
clf = clf.fit(X_train, Y_train)
#Predicting for the test data
y_pred = clf.predict(X_test)

print("confusion matrix: ")
print(metrics.confusion_matrix(Y_test, y_pred))

confusion matrix:
[[62  5]
 [ 7 26]]

In [11]:
print("1. Accuracy Score:", metrics.accuracy_score(Y_test, y_pred))
print("2. Precision Score:",metrics.precision_score(Y_test, y_pred))
print("3. Recall Score:", metrics.recall_score(Y_test, y_pred))
print("4. f1 Score:", metrics.f1_score(Y_test, y_pred))

1. Accuracy Score: 0.88
2. Precision Score: 0.8387096774193549
3. Recall Score: 0.7878787878787878
4. f1 Score: 0.8125